<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<b:bean id="customAuthenticationProvider"
		class="fr.dauphine.spring.security.CustomAuthenticationProvider" />

	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider" />
	</authentication-manager>
	
	<http pattern="/Back-Office/login.jsp" security="none" />	
	<http pattern="/Back-Office/*" realm="Autorisations" access-denied-page="/Back-Office/login.jsp">
		<anonymous username="guest" granted-authority="ROLE_ANONYMOUS" />
		<intercept-url pattern="/Back-Office/inscription.html" access="ROLE_ANONYMOUS,ROLE_SUPERADMIN,ROLE_ADMIN" />
		<intercept-url pattern="/Back-Office/inscription.jsp" access="ROLE_ANONYMOUS,ROLE_SUPERADMIN,ROLE_ADMIN" />
		<intercept-url pattern="/Back-Office/*" access="ROLE_SUPERADMIN,ROLE_ADMIN" />
		<!-- <http-basic /> -->
		<form-login login-processing-url="/Back-Office/j_spring_security_check" login-page="/Back-Office/login.jsp" default-target-url="/Back-Office/index.jsp" authentication-failure-url = "/Back-Office/login.jsp?login_error=1"
			always-use-default-target="true" />
		<logout logout-success-url="/Back-Office/" logout-url="/Back-Office/logout.html" invalidate-session="true" />
	</http>
	
	<http pattern="/Front-Office/login.jsp" security="none" />
	<http pattern="/Front-Office/*" realm="Autorisations" access-denied-page="/Front-Office/login.jsp">
		<anonymous username="guest" granted-authority="ROLE_ANONYMOUS" />
		<intercept-url pattern="/Front-Office/inscription.html" access="ROLE_ANONYMOUS,ROLE_CLIENT" />
		<intercept-url pattern="/Front-Office/inscription.jsp" access="ROLE_ANONYMOUS,ROLE_CLIENT" />
		<intercept-url pattern="/Front-Office/*" access="ROLE_CLIENT" />
		<!-- <http-basic /> -->
		<form-login login-processing-url="/Front-Office/j_spring_security_check" login-page="/Front-Office/login.jsp" default-target-url="/Front-Office/index.jsp" authentication-failure-url = "/Front-Office/login.jsp?login_error=1"
			always-use-default-target="true" />
		<logout logout-success-url="/Front-Office/" logout-url="/Front-Office/logout.html" invalidate-session="true" />
	</http>
	
</b:beans>